.sign-up-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1f1f1f; 
  }

  .sign-up-header .sign-up-title {
    color: #00bfff; 
    margin-bottom: 15px; 
    margin-top: 0;
    text-align: center;
  }
  
  .sign-up-container {
    width: 300px;
    padding: 20px;
    border: 2px solid #00bfff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #333; 
  }

  .sign-up-header {
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-container form {
    display: flex;
    flex-direction: column;
  }
  
  .sign-up-container label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff; 
  }
  
  .sign-up-container input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #555; 
    border-radius: 4px;
    background-color: #444; 
    color: #fff; 
  }
  
  .sign-up-container button {
    background-color: #00bfff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sign-up-container button:hover {
    background-color: #0080ff; 
  }
  
  .sign-up-container p {
    margin-top: 16px;
    text-align: center;
    color: #bbb; 
  }
  
  .sign-up-container a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sign-up-container a:hover {
    text-decoration: underline;
  }
  
  .sign-up-container .error-message {
    color: #ff6666; 
    margin-top: 16px;
  }

  .sign-up-container .loading {
    color: #008000 ;
    font-weight: bold;
  }

/* animation class */
@keyframes loadingDots {
    0% {
      content: 'Loading';
    }
    25% {
      content: 'Loading.';
    }
    50% {
      content: 'Loading..';
    }
    75% {
      content: 'Loading...';
    }
  }
  
  .sign-up-container .loading::after {
    content: 'Loading';
    animation: loadingDots 1s infinite steps(1);
    display: inline-block;
  }

  /* For Landscape Phones */
@media only screen and (max-width: 950px) and (orientation: landscape) {
  #root .sign-up-body .sign-up-container {
    width: 100vh;
    height: 62vh;
    position: absolute;
    top: 55vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #root .sign-up-body .logo {
    width: 75vh !important;
    top: 0;
  }

  #root .sign-up-body .sign-up-container .sign-up-title {
    font-size: 4vh;
  }

  #root .sign-up-body .sign-up-container form {
    width: 100%; /* Ensure the form takes the full width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #root .sign-up-body .sign-up-container label {
    font-size: 3.5vh;
  }

  #root .sign-up-body .sign-up-container label,
  #root .sign-up-body .sign-up-container input {
    width: 100%; /* Make sure label and input take full width */
  }

  #root .sign-up-body .sign-up-container p,
  #root .sign-up-body .sign-up-container button {
    font-size: 3vh; /* Adjust font size as needed */
  }

  #root .sign-up-body .sign-up-container input {
    height: 2.2vh; /* Adjust input height as needed */
    margin-bottom: 8px; /* Add margin between email input and password input */
  }

  #root .sign-up-body .sign-up-container form input::placeholder {
    font-size: 3vh; /* Adjust placeholder font size as needed */
  }

  /* Align the login button to the right */
  #root .sign-up-body .sign-up-container button {
    align-self: flex-end;
    width: 50%; /* Adjust width as needed */
  }

  #root .sign-up-body .sign-up-container .login-link {
    position: relative;
    bottom: 8vh;
    align-self: flex-start;
    width: 50%;
    margin-top: 1.5vh;
  }
}

    /* For Phones */
    @media only screen and (max-width: 430px) {
      .sign-up-body .sign-up-container {
        width: 30vh !important;
      }

      .sign-up-body .sign-up-container label {
        font-size: 1.8vh;
      }

      .sign-up-body .sign-up-container .sign-up-title {
        font-size: 2.3vh;
      }
    }
  
    /* Small Devices, 600px and below */
    @media only screen and (max-width: 600px) {
      .sign-up-body .logo {
        width: 75%;
        position: absolute;
        right: 0;
        left: 50%;
        top: 5vh;
        transform: translateX(-50%);
      }

      .sign-up-body .sign-up-container {
        width: 40vh;
      }
    }
  
    /* Medium Devices, 768px and up */
    @media screen and (min-width: 768px) {
      .sign-up-body .logo {
        position: absolute;
        left: 50%;
        top: 5vh;
        transform: translateX(-50%);
      }

      .sign-up-body .sign-up-container {
        width: 40vh;
      }

      .sign-up-body .sign-up-container p,
      .sign-up-body .sign-up-container button,
      .sign-up-body .sign-up-container label {
        font-size: 1.6vh;
      }

      .sign-up-body .sign-up-container input {
        height: 2vh;
      }

      .sign-up-body .sign-up-container input::placeholder {
        font-size: 1.5vh;
      }
    }
    /* ---------------------------------------------------------------------------------------------- */
  
    /* Large Devices, 992px and up */
    @media only screen and (min-width: 992px) {
      .sign-up-body .logo {
        position: absolute;
        left: 50%;
        top: 5vh;
        width: 55vh;
        transform: translateX(-50%);
      }

      .sign-up-body .sign-up-container .sign-in-title {
        font-size: 3vh;
      }

      .sign-up-body .sign-up-container {
        width: 60%;
      }

      .sign-up-body .sign-up-container p,
      .sign-up-body .sign-up-container button,
      .sign-up-body .sign-up-container label {
        font-size: 1.8vh;
      }

      .sign-up-body .sign-up-container input {
        height: 2vh;
      }
      .sign-up-body .sign-up-container input::placeholder {
        font-size: 1.5vh;
      }
    }
  
    /* Large Devices, 1200px and up */
    @media only screen and (min-width: 1200px) {
      .sign-up-body .logo {
        position: absolute;
        left: 50%;
        top: 5vh;
        transform: translateX(-50%);
      }
      .sign-up-body .sign-up-container {
        width: 300px;
      }

      .sign-up-body .sign-up-container p,
      .sign-up-body .sign-up-container button,
      .sign-up-body .sign-up-container label {
        font-size: 1.5vh;
      }
    }