.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
  }
  
  .header {
    width: 90vw;
    font-size: 36px;
    font-weight: 500;
    color: #333;
    text-align: center;
  }
  
  .header span {
    color: #00bfff;
    font-weight: 600;
  }
  
  .img-loading img {
    max-width: 25vw;
    height: auto;
    border-radius: 8px; /* Add border-radius for a softer image appearance */
  }
  
  .search-box {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .search-input {
    flex: 1;
    height: 50px;
    background: #f5f5f5;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    padding-left: 15px;
    border-radius: 5px;
  }
  
  .generate-btn {
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00bfff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .generate-btn:hover {
    background-color: #0077cc;
  }

  .loading-bar {
    width: 0;
  }
  
  .loading-bar,
  .loading-bar-full {
    height: 8px;
    background-color: #00bfff;
    border-radius: 5px; /* Add border-radius for a softer loading bar appearance */
  }
  
  .ai-image-generator .loading-bar-full {
    width: 25vh; /* Change initial width to 0 */
    height: 8px;
    background-color: #00bfff;
    transition: width 15s; /* Adjust the duration to your preference */
  }

  .error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    animation: shake 0.5s ease-in-out; /* Add shake animation */
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
  
  .loading-text {
    font-size: 16px;
    color: #333;
  }
  
  .display-none {
    display: none;
  }
  
  .back-button {
    border: none;
    padding: 10px;
    background-color: #00bfff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .back-button:hover {
    background-color: #0077cc;
  }
  
  @media only screen and (max-width: 430px) {
    .ai-image-generator {
        max-width: 400px;
    }
  }

  @media only screen and (max-width: 370px) {
    #root .header {
      font-size:1.8rem;
    }
  }