/* Default styles for larger screens */
.home-body {
  position: relative;
  min-height: 100vh;
}

.welcome-msg {
  font-size: 4rem;
  color: #fff;
  margin-left: 10.8vw;
  position: relative;
}

.logOut {
  border: none;
  border: 2px solid #d82229;
  padding: 5px;
  background-color: transparent;
  position: fixed;
  color: white;
  font-size: 18px;
  bottom: 15px;
  right: 15px;
  font-weight: bold;
  transition: .3s ease-in-out;
  z-index: 9999;
}
.logOut:hover {
  cursor: pointer;
  color: #d82229;
  background-color: white;
  border: 2px solid white;
}

.introduction {
  text-align: left;
  margin-left: 10%;
  font-size: 1.2rem;
  color: #bbb;
  max-width: 775px;
  position: relative;
}

.home-body .landing-photo {
  height: 450px;
  position: relative;
  border-bottom: 4px solid #d82229;
}
.home-body .landing-photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.home-body .landing-photo .logo-home {
  object-fit: cover;
  position: fixed;
  left: 5%;
  top: .4%;
  height: max-content;
  width: 10%;
  z-index: 999;
}

.displayName {
  color: #d82229;
}

.navbar {
  display: flex;
  background-color: transparent;
  padding: 15px;
  margin-right: 75px;
  float: right;
  border-bottom: 2px solid white;
  width: max-content;
  box-sizing: border-box;
}

.menu-icon {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  margin-right: 20px;
  z-index: 9999;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  margin-left: 30px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-link::before {
  content: "/";
  position: relative;
  left: -15px;
  color: #d82229;
}
.nav-link:hover {
  color: #d82229;
}

.home-container {
  height: 100%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: max-content;
}

.dropdown.open {
  display: block;
  animation: slideIn 0.3s ease-in-out;
}

.dropdown-content {
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content .nav-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  margin-left: 1vh;
}

.floating-arrow {
  position: relative;
  top: 45vh;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #d82229;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  animation: floatUpDown 2s infinite ease-in-out;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.featured-feeds {
  position: relative;
  top: 700px;
  margin-left: 10%;
}
.featured-feeds .featured-feeds-title {
  font-size: 4rem;
  color: #fff;
}

.showcase-container {
  text-align: center;
  position: relative;
  top: 85vh;
  padding-bottom: 10vh;
}

.showcase-container .card-title {
  color: #d82229;
}

.showcase-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10vh;
}

.showcase-items {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-card {
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: scale(1.05);
}

.card-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(20%);
}

.card-content {
  position: absolute;
  bottom: 20px;
  padding: 20px;
  color: #fff;
  text-align: left;
}

.card-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1rem;
}

.floating-arrow:hover {
  cursor: pointer;
}

/* For Small Phones */
@media only screen and (max-width: 390px) {
   .home-body .welcome-msg {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 12%;
  }

  #root .navbar .logo-home {
    width: 9vh;
  }

  #root .floating-arrow {
    display: none;
  }

  #root .showcase-container {
    top: 40vh;
  }

  #root .service-card {
    max-width: 100px;
    max-height: 200px;
  }
  #root .card-content {
    top: 0;
  }
  #root .showcase-container .card-title {
    font-size: 14px;
  }
  #root .showcase-container .card-content p {
    font-size: 11px;
    height: max-content;
    text-align: center;
    position: relative;

  }
}

@media only screen and (max-width: 430px) {

  #root .home-body .welcome-msg {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 12%;
  }

  #root .logo-home {
    width: 6.5vh;
  }

  #root .showcase-container {
    top: 40vh;
  }
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  .welcome-msg {
    font-size: 3.5rem;
    text-align: center;
  }

  #root .showcase-container {
    top: 0vh;
  }

  #root .showcase-title {
    margin-bottom: 2vh;
  }

  .introduction {
    font-size: 1rem;
    margin-right: 7%;
    position: relative;
    top: 60%;
    text-align: center;
  }

  .home-body .landing-photo {
    height: 300px;
  }

  .home-body .landing-photo .logo-home {
    width: 15%;
    top: 1.1vh;
    left: 7vh;
  }

  .navbar {
    margin-right: 0;
  }

  .navbar-container {
    position: relative;
    left: 22vw;
  }

  .nav-link {
    font-size: 1em;
    margin-left: 15px;
  }

  .featured-feeds {
    margin-left: 5%;
    top: 20vh;
  }

  .featured-feeds .featured-feeds-title {
    font-size: 3rem;
  }

  .floating-arrow {
    visibility: hidden;
  }
}
  
/* Large Devices, 992px and up */
@media only screen and (min-width: 992px) {
  .home-body .landing-photo .logo-home {
    width: 15%;
    margin-top: .2vh; 
    left: 12%;
    transform: translateX(-12%);
  }

  .navbar .navbar-container .menu-icon {
    right: 85%;
    transform: translateX(-85%);
  }

  .home-body .welcome-msg {
    font-size: 4rem;
    color: #fff;
    text-align: left;
  }
  .home-body .introduction {
    text-align: center;
    font-size: 1.5rem;

    left: 2vh;
  }

  .floating-arrow {
    display: none;
  }
}
  
/* Large Devices, 1200px and up */
@media only screen and (min-width: 1200px) {
  #root .home-body .landing-photo .logo-home {
    width: 20vh;
    margin-top: 0;
    left: 15vh;
  }

  .floating-arrow {
    display: block;
  }

  #root .home-body .menu-icon  {
    position: absolute;
    top: 1.7vh;
    left: 6vh;
  }

  #root .home-body .introduction {
    text-align: left;
  }
}