/* Default styles for larger screens */
.home-body {
  position: relative;
  min-height: 100vh;
}

.welcome-msg {
  text-align: left;
  margin-left: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #fff;
}

.logOut {
  border: none;
  border: 2px solid #00bfff;
  padding: 5px;
  background-color: transparent;
  position: fixed;
  color: white;
  font-size: 18px;
  bottom: 15px;
  right: 15px;
  font-weight: bold;
  transition: .3s ease-in-out;
  z-index: 9999;
}
.logOut:hover {
  cursor: pointer;
  color: #00bfff;
  background-color: white;
  border: 2px solid white;
}

.introduction {
  text-align: left;
  margin-left: 10%;
  font-size: 1.2rem;
  color: #bbb;
  max-width: 775px;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
}

.home-body .landing-photo {
  height: 450px;
  position: relative;
  border-bottom: 4px solid #0080ff;
}
.home-body .landing-photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.home-body .landing-photo .logo-home {
  object-fit: cover;
  position: fixed;
  left: 5%;
  top: .4%;
  height: max-content;
  width: 10%;
  z-index: 999;
}

.displayName {
  color: #00bfff;
}

.navbar {
  display: flex;
  background-color: transparent;
  padding: 15px;
  margin-right: 75px;
  float: right;
  border-bottom: 2px solid white;
  width: max-content;
  box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  margin-left: 30px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-link::before {
  content: "/";
  position: relative;
  left: -15px;
  color: #00bfff;
}
.nav-link:hover {
  color: #0080ff;
}

.home-container {
  height: 100%;
}

.floating-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #00bfff;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  animation: floatUpDown 2s infinite ease-in-out;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.featured-feeds {
  position: relative;
  top: 700px;
  margin-left: 10%;
}
.featured-feeds .featured-feeds-title {
  font-size: 4rem;
  color: #fff;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  .welcome-msg {
    position: relative;
    margin-top: 10%;
    font-size: 3rem;
    margin-left: 5%;
    text-align: center;
  }

  .introduction {
    font-size: 1rem;
    margin-right: 7%;
    position: relative;
    top: 60%;
    text-align: center;
  }

  .home-body .landing-photo {
    height: 300px;
  }

  .home-body .landing-photo .logo-home {
    width: 15%;
    top: 1.1vh;
    left: 7vh;
  }

  .navbar {
    margin-right: 0;
  }

  .navbar-container {
    position: relative;
    left: 10vh;
  }

  .nav-link {
    font-size: 1em;
    margin-left: 15px;
  }

  .featured-feeds {
    margin-left: 5%;
    top: 20vh;
  }

  .featured-feeds .featured-feeds-title {
    font-size: 3rem;
  }

  .floating-arrow {
    position: relative;
    top: 15vh;
  }
}
