/* navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    padding: 15px;
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    order: -1;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    margin-left: 30px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav-link::before {
    content: '/';
    position: absolute;
    left: -15px;
    color: #00bfff;
}

.nav-link:first-child::before {
    content: none; /* Remove the slash before the first link */
}

.nav-link:hover {
    color: #0080ff;
    text-shadow: 0 0 5px #0080ff;
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }
    
    .nav-link {
        margin: 0 15px;
    }
}

/* navbar.css */
/* ... (existing styles) */

.menu-icon {
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
    margin-right: 20px;
    position: relative;
    right: 290%;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.dropdown.open {
    display: block;
    animation: slideIn 0.3s ease-in-out;
}

.dropdown-content {
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content .nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
