.navbar {
    position: fixed;
    top: 15px;
    right: 0;
    display: flex;
    background-color: transparent;
    padding: 15px;
    margin-right: 75px;
    float: right;
    border-bottom: 2px solid white;
    width: max-content;
    box-sizing: border-box;
    z-index: 9999;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    margin-left: 30px;
    position: relative;
    transition: color 0.3s ease-in-out;
}
.nav-link::before {
    content: '/';
    position: relative;
    left: -15px;
    color: #00bfff;
}
.nav-link:hover {
    color: #0080ff;
}

.home-container {
    height: 100%;
}