.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    padding: 15px;
    z-index: 999;
}

.navbar .navbar-container .menu-icon {
    visibility: hidden;
}

.navbar-container {
    display: flex;
    align-items: center;
    order: -1;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    margin-left: 30px;
    position: relative;
    transition: color 0.3s ease-in-out;
    font-family: 'Anonymous Pro', monospace;
}

.nav-link::before {
    content: '/';
    position: absolute;
    left: -15px;
    color: #00bfff;
}

.nav-link:first-child::before {
    content: none; /* Remove the slash before the first link */
}

.nav-link:hover {
    color: #0080ff;
    text-shadow: 0 0 5px #0080ff;
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }
    
    .nav-link {
        margin: 0 15px;
    }

    .menu-icon {
        right: 20vh !important;
    }

    .dropdown {
        left: -22vh !important;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
