/* myaccount.css */

/* Style for the my account container */
.my-account-container {
    width: 400px;
    padding: 40px;
    border: 2px solid #ff7f50;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  /* Title for the my account section */
  .my-account-container h2 {
    color: #ff7f50;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
  }
  
  /* Form inside the my account container */
  .my-account-container form {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Label styles for the my account form */
  .my-account-container label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
  }
  
  /* Input styles for the my account form */
  .my-account-container input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
  }
  
  /* Button styles for the my account form */
  .my-account-container button {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .my-account-container .back-button {
    margin-top: 25px;
  }
  .my-account-container .delete-user {
    margin-top: 25px;
    float: right;
  }
  
  /* Hover styles for the my account form button */
  .my-account-container button:hover {
    background-color: #ff6347;
  }
  
  /* Paragraph styles for messages in the my account form */
  .my-account-container p {
    margin-top: 16px;
    text-align: center;
    color: #bbb;
  }
  
  /* Anchor (link) styles for the my account form */
  .my-account-container a {
    color: #ff7f50;
    text-decoration: none;
    font-weight: bold;
  }

  .my-account-container form label {
        margin-top: 15px;
  }
  
  /* Hover styles for the my account form link */
  .my-account-container a:hover {
    text-decoration: underline;
  }
  
  /* Error message styles for the my account form */
  .my-account-container .error-message {
    color: #ff6666;
    margin-top: 16px;
    animation: shake 0.5s ease-in-out;
  }

  .success-message {
    color: #4caf50; /* Green text color for success messages */
    font-size: 18px;
    margin-top: 16px;
    text-align: center;
    animation: fadeInUp 0.5s ease-in-out; /* Fade in and slide up animation */
  }
  
  /* Animation keyframes */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Shake animation keyframes for error messages */
  @keyframes shake {
    from, to {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  
  /* Loading animation styles for the my account form */
  .my-account-container .loading {
    color: #008000;
    font-weight: bold;
  }
  
  /* Loading dots animation keyframes for the my account form */
  @keyframes loadingDots {
    0% {
      content: 'Loading';
    }
    25% {
      content: 'Loading.';
    }
    50% {
      content: 'Loading..';
    }
    75% {
      content: 'Loading...';
    }
  }
  
  /* Loading dots styles for the my account form */
  .my-account-container .loading::after {
    content: 'Loading';
    animation: loadingDots 1s infinite steps(1);
    display: inline-block;
  }

  /* Small Device, 400px and below */

  @media only screen and (max-width: 380px) {
    .my-account-container {
      height: 65vh;
      width: 32vh !important;
    }

    .my-account-container h2 {
      margin-bottom: 0;
      margin-top: -3vh;
    }
    .my-account-container button {
      font-size: 10px;
    }
    .my-account-container form label {
      font-size: 10px;
    }
    .my-account-container form input {
      font-size: 12px;
    }
    .my-account-container .delete-user {
      margin-top: 1.5vh;
    }
  }

  /* Small Devices, 600px and below */
  @media only screen and (max-width: 600px) {
    .my-account-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 45vh;
    }

    .my-account-container {
      width: 20vh;
      margin-top: 2vh;
    }

    .my-account-container .delete-user {
      float: left;
      background-color: red;
    }

    .my-account-container h2 {
      font-size: 14px;
    }
    .my-account-container form label {
      font-size: 14px;
    }
    .my-account-container .back-button,
    .my-account-container .delete-user {
      width: 20vh;
    }
    .my-account-container .back-button {
      background-color: #00bfff !important;
    }
  }

  /* Small Devices, 600px and up */
  @media only screen and (min-width: 600px) {
    .my-account-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 55vh;
    }

    .my-account-container {
      margin-top: 5vh;
      width: 45vh;
    }
  }

  /* Medium Devices, 768px and up */
  @media screen and (min-width: 768px) {
    .my-account-container {
      width: 45vh;
      margin-top: 5vh;
    }

    .my-account-logo {
      width: 65vh;
      position: absolute;
      left: 0%;
      transform: translateX(0%);
    }
  }
  /* ---------------------------------------------------------------------------------------------- */

  /* Large Devices, 992px and up */
  @media only screen and (min-width: 992px) {
    .my-account-container {
      width: 45vh;
      margin-top: 5vh;
    }

    .my-account-logo {
      width: 65vh;
      position: absolute;
      transform: translateX(0%);
      left: 0%;
    }
  }

  /* Large Devices, 1200px and up */
  @media only screen and (min-width: 1200px) {
    .my-account-logo {
      width: 65vh;
      position: absolute;
      left: 0%;
      transform: translateX(0%);
    }

    .my-account-container {
      width: 45vh;
      margin-top: 5vh;
    }
  }